@{
    Layout = "_LayoutChart";
}

<div class="container d-flex">
    <div class="card mx-auto mt-5" style="width: 18rem;">
        <div class="card-body">
            <canvas id="pieChart"></canvas>
        </div>
    </div>
    <div class="card mx-auto mt-5" style="width: 18rem;">
        <div class="card-body">
            <canvas id="barChart"></canvas>
        </div>
    </div>
    
    <div class="card mx-auto mt-5" style="width: 18rem;">
        <div class="card-body">
            <canvas id="doughnutChart"></canvas>
        </div>
    </div>
</div>
