@{
    
}

<div class="container">
    <div class="row border">
        <div class="col border" id="div-1">
            Data Lama
         </div>
        <div class="col row">
            <div class="border" id="div-2">
              Data Lama
            </div>
            <div class="border" id="div-3">
              Data Lama
            </div>
        </div>
    </div>

    <button id="btn-1" class="btn btn-primary mt-5">1</button>
    <button id="btn-2" class="btn btn-warning mt-5">2</button>
    <button id="btn-3" class="btn btn-danger mt-5">3</button>

    <button id="light" class="btn btn-dark mt-5">Perusak Mata :D</button>
</div>
